<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'home/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-btn-circle/bsb-btn-circle.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-ls/bsb-ls.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-sep/bsb-sep.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/font-size/font-size.css">
        <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">
        <style>
            .card-img-top {
                max-width: 100%;  /* Ensures the image does not exceed the card's width */
                max-height: 150px; /* Set a maximum height */
                object-fit: cover;  /* Ensures the image covers the space without distortion */
            }
            .card {
                max-height: 500px; /* Set the maximum height of the card */
                overflow: hidden; /* Ensure content does not overflow the card */
            }
        </style>
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Maverick Blogs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="/auth/logout">Logout</a>
                        {% else %}
                        <a class="btn btn-primary" href="/auth/create">Create Account</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-4 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center text-dark py-4"  style="background-image: url('https://img.freepik.com/free-photo/high-angle-view-big-ideas-diary-with-pen-white-background_23-2147865377.jpg?ga=GA1.1.177335295.1727047196&semt=ais_hybrid'); background-size: cover; background-position: right; background-blend-mode: darken;">
                    {% if user.is_authenticated %}
                    <h1 class="fw-bolder">Welcome back, <span style="color: darkslategrey; font-family:Verdana, Geneva, Tahoma, sans-serif;">{{ user.username }}!</span></h1>
                    {% else %}
                    <h1 class="fw-bolder">Welcome to Maverick Blogs!</h1>
                    {% endif %}
                    <p class="lead mb-0">Happy Reading! </p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                
                <!-- Blog entries-->
                <div class="col-lg-8">
                    {%  if not query %}
                    {%  if not messages %}
                    <!-- Featured blog post-->
                    <div class="card mb-4" style="max-height: 500px;">
                        <a href="post/{{ featured.id }}"><img class="card-img-top img-fluid rounded" src="{{ featured.img_link }}" style="max-height: 200px;" alt="..." /></a>
                        <div class="card-body">
                            <div style="width: 100%; display: inline-flex; justify-content: space-between;">
                                <div class="small text-muted">{{ featured.posted_on }}</div>
                                <a class="badge bg-success text-decoration-none link-light my-1 mt-0 p-2" href="#!">Featured Post</a>
                            </div>
                            <h3 class="card-title">{{ featured.title }}</h3>
                            <p class="card-text">{{ featured.body|truncatewords:20 }}</p>
                            <a class="btn btn-primary" href="post/{{ featured.id }}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        {% if filter %}
                            <h3 class="h3">Category: {{ curr_cat }}</h3>
                        {% endif %}
                        {% if query %}
                            <h3 class="h3">Search Results: {{ query }}</h3>

                        {% endif %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                    role="img" aria-label="Warning:">
                                    <path
                                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                <div>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                        {% for post in posts reversed %}
                        {% if not post.is_featured %}
                        {% if not messages %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="post/{{ post.id }}"><img class="card-img-top img-fluid rounded" src="{{ post.img_link }}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post.posted_on }}</div>
                                    <h3 class="card-title h4">{{ post.title }}</h3>
                                    <p class="card-text">{{ post.body|truncatechars:100 }}</p>
                                    <a class="btn btn-primary" href="post/{{ post.id }}">Read more →</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!-- Pagination-->
                    <nav aria-label="Pagination mx-auto">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% for i in total_pages %}
                            {% if pageno == i %}
                            <li class="page-item active" aria-current="page"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <form class="input-group" method="get" action="search">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" name="query"/>
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for category in categories|slice:":4" %}
                                        <li><a href="/?category={{ category.id }}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for category in categories|slice:"4:" %}
                                        <li><a href="/?category={{ category.id }}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Maverick Blogs</div>
                        <div class="container mx-auto px-auto pt-3 text-center">
                            <div class="social-wrapper text-center mx-auto">
                              <ul class="m-0 list-unstyled d-flex justify-content-start justify-content-sm-end gap-2">
                                <li>
                                  <a href="#!" class="btn btn-dark bsb-btn-circle bsb-btn-circle-xs link-opacity-75-hover link-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                      <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                                    </svg>
                                  </a>
                                </li>
                                <li>
                                  <a href="#!" class="btn btn-dark bsb-btn-circle bsb-btn-circle-xs link-opacity-75-hover link-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                                      <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                                    </svg>
                                  </a>
                                </li>
                                <li>
                                  <a href="#!" class="btn btn-dark bsb-btn-circle bsb-btn-circle-xs link-opacity-75-hover link-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z" />
                                    </svg>
                                  </a>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <!-- Copyright - Bootstrap Brain Component -->
                        <div class="pt-3" id='contact'>
                            <div class="container border-top border-light-subtle pt-3">
                            <div class="row">
                                <div class="col-12">
                                <div class="copyright-wrapper d-block mb-1 text-start text-sm-center fs-8">
                                    &copy; 2024. All Rights Reserved.
                                </div>
                                <div class="credit-wrapper d-block text-secondary fs-9 text-start text-sm-center">
                                    Built by<a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">
                                    Rickmwasofficial</a> with <span class="text-primary">&#9829;</span>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Rickmwasofficial 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>
    </body>
</html>
